.row{
    display: flex;
    justify-content: center;
}
.row .column{
    margin: 20px;
}
.row .column .col-sm-1{
    width: 300px;
}
.row .column .col-sm-2{
    width: 300px;
}
.row .column .col-sm-3{
    width: 300px;
}
.row .column .col-sm-4{
    width: 300px;
}
