.row{
    display: flex;
    justify-content: center;
}
.row .col-sm-1, .col-sm-2, .col-sm-4, .col-sm-12{
    margin: 20px;
}
.row .col-sm-1 .col-sm{
    width: 88px;
}
.row .col-sm-2 .col-sm{
    width: 215px;
}
.row .col-sm-4 .col-sm{
    width: 300px;
}
.row .col-sm-12 .col-sm{
    width: 300px;
}
